
{% extends "base.html" %}
{% block title %} {{item.name}}{% endblock title %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <img src="{{item.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}e</h5>
          <p class="card-text">{{item.description}}</p>
          <p class="card-text">Price: Rs{{item.price}}</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Item Details</h4>
      <ul>
        <li>Detail 1: Some details about the item.</li>
        <li>Detail 2: Additional information about the item.</li>
        <li>Detail 3: More specifications about the item.</li>
        <li>Detail 4: Any other relevant information.</li>
      </ul>
      <div class="d-grid" style="align-items: center; align-self: center;">
        {% comment %} write this code when you want to display Delete and Edit option based
        on the user authentication, if it is seller display option to delete or edit it {% endcomment %}
        {% if request.user == item.created_by %}
        <div>

          <p> this is your item<p>
            <a class="nav-link active" aria-current="page" href="{% url 'item:delete' pk=item.pk %}">Delete Item</a>
            <a class="nav-link active" aria-current="page" href="{% url 'item:edit' pk=item.id %}">Edit Item</a>

        </div>
        {% else %}
        <button type="button" style="width: 50%; align-self:center;" class="btn btn-primary btn-block">
          <a href="{% url 'conversation:new' item.id %}"> Contact Seller</a>
        </button>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<h2>Related Items</h2>
{% for item in related_items %}
<div>
    <div class="card-rows">
        <div class="col-md-3 mb-4">
          <a href="{% url "item:detail" item.id %}">
            <div class="card">
              <img class="card-img-top" src="{{item.image.url}}" width="100" height="200" alt="Card image">
              <div class="card-body">
                <h4 class="card-title">{{item.name}}</h4>
                <p class="card-text">{{item.description}}</p>
               
                
              </div>
            </div>
          </a>
        </div>
</div>
{% endfor %}
{% endblock content %}
